<template>
  <div>
    <b-row class="my-2" align-v="center" align-h="center"
      ><h4 class="app-name col-12">SongWish</h4>
      <b-button class="col-1 " variant="danger" @click="switchView"
        >Switch View</b-button
      >
    </b-row>
    <b-row align-v="center" align-h="center" class="my-3">
      <b-col>
        <SongList :songsList="songs" :isSongQueueList="false"
          >Song List</SongList
        >
      </b-col>
      <b-col class="text-center">
        <b-button
          variant="success"
          size="lg"
          @click="wishSong"
          :disabled="!isSongSelected || isSelectedSongWished"
          >Wish</b-button
        >
      </b-col>
      <b-col>
        <SongList :songsList="wishedSongs" :isSongQueueList="true"
          >Wished Songs</SongList
        >
      </b-col>
    </b-row>
  </div>
</template>

<script>
import SongList from '@/components/SongList.vue'
import { mapState, mapGetters, mapActions } from 'vuex'
import store from '@/store/store'
export default {
  components: {
    SongList
  },
  methods: {
    ...mapActions(['wishSong'])
  },
  computed: {
    ...mapState(['songs', 'songsTotal', 'wishedSongs', 'wishedSongsTotal']),
    ...mapGetters(['isSelectedSongWished', 'isSongSelected'])
  },
  beforeRouteEnter(routeTo, routeFrom, next) {
    Promise.all([
      store.dispatch('fetchSongs'),
      store.dispatch('fetchWishedSongs')
    ]).then(() => {
      next()
    })
  }
}
</script>

<style scoped></style>
