<template>
  <b-row class="min-vh-100" align-h="center" align-v="center">
    <b-col>
      <b-row align-h="center" align-v="center" class="mb-5">
        <h1>SongWish</h1>
      </b-row>
      <b-row align-h="center" align-v="center" class="mb-3">
        <h3>
          Welcome, please login using the password!
        </h3>
      </b-row>
      <b-row align-v="center" align-h="center" class="text-center ">
        <b-form @submit.prevent="login" class="col-2">
          <b-form-group
            label="Password:"
            label-for="input-group-1"
            label-cols="auto"
            label-align="center"
          >
            <b-form-input
              id="input-group-1"
              type="password"
              v-model="password"
              placeholder="Enter password"
              autofocus
            />
          </b-form-group>
          <b-button type="submit" variant="primary"> Log In</b-button>
          <p v-if="error" class="danger">{{ error }}</p>
        </b-form>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
export default {
  data() {
    return {
      password: '',
      error: null
    }
  },
  methods: {
    login() {
      this.$store
        .dispatch('login', {
          password: this.password
        })
        .then(response => {
          if (response) {
            console.log(response)
          }
          this.$router.push({ name: 'dashboard' })
        })
        .catch(err => {
          this.error = err.response.data.error
        })
    }
  }
}
</script>

<style scoped></style>
