<template>
  <!-- <b-card
    class="song-card p-1"
    no-body
    border-variant="dark"
    :class="[
      !isSongQueueList && isSongClicked(song.id) ? 'song-clicked' : '',
      !isSongQueueList && isSongWished(song) ? 'song-wished' : '',
      isSongQueueList ? 'song-queued' : ''
    ]"
    @click="selectSong(song.id)"
  >
    <b-card-text>{{ song.title }} </b-card-text>
  </b-card> -->

  <b-card
    class="song-card p-1"
    no-body
    :class="[
      { 'song-clicked': isSongClickedCheck },
      { 'song-wished': isSongWishedCheck },
      { 'song-queued': isSongQueueList }
    ]"
    @click="selectSong(song.id)"
  >
    <b-row no-gutters align-v="center">
      <b-col>
        <b-card-text class="song-name">{{ song.title }} </b-card-text>
      </b-col>
      <b-col v-if="isSongWishedCheck">
        <b-card-text class="col wished-text">WISHED</b-card-text>
      </b-col>
      <b-col v-else-if="isDJView" cols="2">
        <b-button class="col" variant="danger" @click="removeWishedSong(song)"
          >Remove</b-button
        >
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
export default {
  props: {
    song: Object,
    isSongQueueList: {
      type: Boolean,
      default: false
    },
    isDJView: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    ...mapActions(['selectSong', 'removeWishedSong'])
  },
  computed: {
    ...mapState(['songs, wishedSongs']),
    ...mapGetters(['isSongClicked', 'isSongWished']),
    isInQueueList() {
      return this.isSongQueueList ? 'none' : 'all'
    },
    isSongWishedCheck() {
      return (
        !this.isSongQueueList && !this.isDJView && this.isSongWished(this.song)
      )
    },
    isSongClickedCheck() {
      return !this.isSongQueueList && this.isSongClicked(this.song.id)
    }
  }
}
</script>

<style scoped>
.song-card {
  transition: all 0.2s linear;
  cursor: pointer;
  background-color: #d2f8d2;
}
.song-card:hover {
  margin: 0.25rem 0.25rem 0.5rem 0.25rem;
  transform: scale(1.01);
  /* box-shadow: 0px 0px 30px 10px #000000; */
  box-shadow: -5px 5px 21px 0px #000000, 5px -5px 21px 0px #000000;

  /* Remove Card Padding if INSET is used */
  /* box-shadow: inset 0px 0px 30px -6px #8d239b; */
}
.song-clicked {
  margin: 0.25rem 0.25rem 0.5rem 0.25rem;
  transform: scale(1.01);
  /* box-shadow: 0px 0px 30px 10px #000000; */
  box-shadow: -5px 5px 21px 0px #000000, 5px -5px 21px 0px #000000;

  /* Remove Card Padding if INSET is used */
  /* box-shadow: inset 0px 0px 30 */
}
.song-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-overflow: clip; */
}

.song-queued {
  pointer-events: none;
}

.song-wished {
  /* background: lightgrey; */
  background: lightsalmon;
  /* background: coral; */
  pointer-events: none;
}
.wished-text {
  color: yellow;
  /* color: lightblue; */
  /* color: lightskyblue; */
  /* color: lightsteelblue; */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
}
</style>
