<template>
  <div>
    <div class="song-list-title"><slot></slot></div>

    <div class="song-list-box">
      <transition-group name="fade" appear>
        <SongCard
          v-for="song in songsList"
          :key="song.id"
          :song="song"
          :isSongQueueList="isSongQueueList"
          :isDJView="isDJView"
        ></SongCard>
      </transition-group>
    </div>
    <p class="mt-2 song-list-counter">Total: {{ songsList.length }}</p>
  </div>
</template>

<script>
import SongCard from '@/components/SongCard.vue'
export default {
  props: {
    songsList: {
      type: Array,
      required: true
    },
    isSongQueueList: Boolean,
    isDJView: {
      type: Boolean,
      default: false
    }
  },
  components: {
    SongCard
  }
}
</script>

<style scoped>
.song-list-box {
  width: 100%;
  height: 500px;
  border: 5px solid green;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
  background-color: white;
}

.song-list-title {
  font-size: large;
  text-align: center;
}

.song-list-counter {
  font-size: large;
  text-align: center;
}
</style>
