<template>
  <div id="app">
    <b-container fluid>
      <transition name="slide-fade" mode="out-in">
        <router-view />
      </transition>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      toggleView: true
    }
  },
  methods: {
    switchView() {
      this.toggleView = !this.toggleView
      if (this.toggleView) {
        this.$router.push('/')
      } else {
        this.$router.push('dj-view')
      }
    }
  }
}
</script>

<style>
body {
  margin: 0;
  /* font-family: 'Open Sans', sans-serif; */
  /* background-color: #99ff99; */
  /* background-color: #d2f8d2; */
  /* background-color: #bcf5bc; */
  /* most like the this one! unless used for the lists */
  background-color: #a6f1a6;
}

.app-name {
  text-align: center;
  font-style: italic;
}

/** transitions */
/* Fade */
.fade-enter {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-out;
}

.fade-leave-to {
  opacity: 0;
}
/* Slide-fade */
.slide-fade-enter {
  transform: translateX(10px);
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.5s ease;
}

.slide-fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}
</style>
